@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/jquery.easyui.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/JqueryUI/themes/default/easyui.css")"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/JqueryUI/themes/icon.css")"  rel="stylesheet" type="text/css" />
    <script  src="@Url.Content("~/JS/videoPlay.js")" type="text/javascript"></script>
    <script  src="@Url.Content("~/JS/UserInfo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JqueryUI/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/JS/Common/Common.js")" type="text/javascript"></script>
</head>
<body>
    <div id="DG_UserInfo" fit="true">
    </div>
    <div id="dlg_Create" data-options="iconCls:'icon-save'" style="padding: 5px;">
    </div>
    <div id="dlg_Update" data-options="iconCls:'icon-save'" style="padding: 5px;">
    </div>
</body>
</html>
